@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

main {
    padding: 20px;
}

mat-radio-group {
    mat-radio-button {
        margin-right: 20px;
    }
}

.small-font {
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
}

// Search checkbox styles in styles.scss

.category-select, .search-order {
    width: 50%;
    background-color: lighten(dodgerblue, 30);
    padding: 10px 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-row {
    margin-top: 20px;
    display: flex;
    justify-content: left;

}


body {
  font-family:'Poppins', sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

div.scroll-list {
  overflow: auto;
  max-height: 100vh;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

.buttonbox {
  background-color: hsl(210, 25%, 95%);
  padding: 20px;
  border-radius: 3px;
}

#pill {
  background-color: #4054B2;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  padding: 7px;
  text-align: center;
}
