@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


main {
    padding: 20px;
}

mat-radio-group {
    mat-radio-button {
        margin-right: 20px;
    }
}

.small-font {
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
}

// Search checkbox styles in styles.scss

.category-select, .search-order {
    width: 50%;
    background-color: lighten(dodgerblue, 30);
    padding: 10px 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

// .return-check-container {
//     width: 25%;
//     display: inline-block;
// }

.submit-row {
    margin-top: 40px;
    display: flex;
    justify-content: left;

}


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

// .drag-target-border-green {
//   border: #3c763d dashed 2px;
// }

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
.mat-cell, .mat-header-cell {
    font-size: 10px !important;

}

.results-table {


    margin-left: 10px;
    width: 1250px;

    td {
        padding-right: 20px;
    }

    th {
        padding-right: 20px;
    }
}
.grid-container{
    // grid-gap: 20px;
    grid-template-columns: repeat(autofill, minmax(350px, 1fr));
}
.flex-container{
    flex-wrap: wrap;
    align-content: space-around;
}
.search-result{
    width: 88%;
    height: 325px;
    margin: 20px 10px 10px 20px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 3px 3px 15px var(--shadow-color);
    display: grid;
    grid-template-rows: 60% 1fr;
    grid-template-areas:
        "top"
        "info";
}
.top{
    grid-area: top;
    background-color: var(--gray-color);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.1s;
    i{
        color: var(--darker-gray-color);
        position: absolute;
        transition: all linear 0.1s;
    }
    .tagline{
        position: relative;
        margin: 0px;
        font-size: 18px;
        max-width: 400px;
        text-align: center;
        font-style: italic;
        font-weight: 100;
    }

    &:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 90%);
    }
    &:hover i{
        color: hsl(0, 0%, 85%);
    }
}
.info{
    grid-area: info;
    position: relative;
}
.rating{
    position: absolute;
    right: 0px;
    margin: 11px 17px 0px 0px;
    font-size: 15px;

}
.title{
    margin: 10px 15px 0px 15px;
    font-size: 20px;
}
.year{
    margin: 3px 0px 3px 15px;
    font-size: 15px;
}
.description{
    font-size: 12px;
    margin: 0px 17px 17px 17px;
}

.center-button {
    margin: 20px auto;
    display: block;
}

// .drag-target-border-green {
//   border: #3c763d dashed 2px;
// }
