@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

main {
    padding: 20px;
}

mat-radio-group {
    mat-radio-button {
        margin-right: 20px;
    }
}

.small-font {
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
}

// Search checkbox styles in styles.scss

.category-select, .search-order {
    width: 50%;
    background-color: lighten(dodgerblue, 30);
    padding: 10px 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

// .return-check-container {
//     width: 25%;
//     display: inline-block;
// }

.submit-row {
    margin-top: 40px;
    display: flex;
    justify-content: left;
}


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

// .version-info {
//   font-size: 8pt;
//   float: right;
// }

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

// .drag-target-border-green {
//   border: #3c763d dashed 2px;
// }
