:root{
    --text-black: hsl(0, 0%, 25%);

    --primary-color: #4054B2;
    --background-color: hsl(210, 25%, 95%);
    --white-color: hsl(0, 0%, 100%);
    --gray-color: hsl(0, 0%, 85%);
    --darker-gray-color: hsl(0, 0%, 80%);

    --shadow-color: hsla(0, 0%, 10%, 0.05);

    --color-info: #6FC5C1;
    --color-danger: #C5354B;
    --color-warning: #FFB544;
    --color-success: #99C56F;
}