/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--text-black);
}

.search-bar {
    button {
        margin: 0px 20px 0px 10px;
        border-radius: 3px;
    }
}

.grid-container{
    // border: 1px dashed red;
    display: grid;
    width: 100%;
}
.flex-container{
    // border: 1px dashed blue;
    display: flex;
    width: 100%;

}