/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "~ng-drag-drop/style.css";

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--text-black);
}

.search-bar {
    button {
        margin: 0px 20px 0px 10px;
        border-radius: 3px;
    }
}
button{
    color: var(--text-black);
}
.mat-button-wrapper{
    font-weight: 400;
}

.grid-container{
    // border: 1px dashed red;
    display: grid;
    grid-gap: 30px;
    // width: 100%;
    padding: 0px 30px;
    margin-bottom: 30px;
}

.flex-container{
    // border: 1px dashed blue;
    display: flex;
    width: 100%;
}


.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.version-info {
  font-size: 8pt;
  float: right;
}

