// .full-star:before {
//   content: "\2605";
//   position: absolute;
// }

// .rating {
//   display: flex;
//   justify-content: center;
//   unicode-bidi: bidi-override;
//   direction: rtl;
// }

// .span {
//   display: inline-block;
//   position: relative;
//   widows: 1.1em;
//   font-size: 40px;
// }
ul {
  flex-direction: center;
  right: 50%;
  -webkit-transform: translate(-50%, 0);
  position: relative !important;
}
