// h1 {
//     text-align: center;
// }

.bummer {
    margin-top: 100px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
.mat-cell, .mat-header-cell {
    font-size: 10px !important;
}

.pie {
    width: 100%;
    height: 400px;
}

.results-table {

    margin-left: 10px;
    width: 1250px;

    td {
        padding-right: 20px;
    }

    th {
        padding-right: 20px;
    }
}
.grid-container{
    // grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));

}
.flex-container{
    flex-wrap: wrap;
    align-content: space-around;
}
.search-result{
    height: 520px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 3px 3px 15px var(--shadow-color);
    display: grid;
    grid-template-rows: 70% 1fr;
    grid-template-areas: 

        "top"
        "info";
}
.top{
    grid-area: top;
    background-color: var(--gray-color);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.1s;
    i{
        color: var(--darker-gray-color);
        position: absolute;
        transition: all linear 0.1s;
    }

    .poster-background {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tagline{
        position: relative;
        margin: 0px;
        font-size: 18px;
        max-width: 400px;
        text-align: center;
        font-style: italic;
        font-weight: 100;
    }

    &:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 90%);
    }
    &:hover i{
        color: hsl(0, 0%, 85%);
    }
}
.info{
    grid-area: info;
    position: relative;
}
.rating{
    position: absolute;
    right: 0px;
    margin: 11px 17px 0px 0px;
    font-size: 15px;

}
.title{
    margin: 10px 15px 0px 15px;
    font-size: 20px;
}
.year{
    margin: 3px 0px 3px 15px;
    font-size: 15px;
}
.description{
    font-size: 12px;
    margin: 0px 17px 17px 17px;
}

.center-button {
    margin: 20px auto;
    display: block;
}

/* Modal Styles */
.container {
    hr {
        border-top: 1px solid #8c8b8b;
    }
    .header-row {
        display: flex;

        .header-left{
            justify-content: flex-start;
            width: 100%;

            .tagline {
                font-style: italic;
            }
        }

        .header-right{
            justify-content: flex-end;
            display: inline-block;
            width: 100%;

            .closeBtn {
                justify-content: flex-end;

                .buttonRight {
                    cursor: pointer;
                }
            }
        }
    }


    // .information-row-left, .information-row-right {
    //     display: inline-block;
    //     width: 50%;

    //         .information-row{
    //         display: flex;

    //         .content-left{
    //             width: 50%;
    //             justify-content: flex-start;
    //         }

    //         .content-right{
    //             width: 50%;
    //             justify-content: flex-start;
    //             margin: {
    //                 top: 21px;
    //                 bottom: 16px
    //             }
    //         }
    //     }
    // }
    .info-center {
        text-align: center;
    }

    .info-container {
        display: grid;
        // border: 1px solid black;
        height: 400px;
        width: 400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        .info-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            width: 200px;
            background: #d9d9d9;
            box-shadow: 5px 5px 15px hsl(0, 0%, 92%);

            .info-inline {
                font-size: 17px;
                font-weight: 400;
            }

            // border: 1px solid pink;

            .info-budget, .info-runtime, .info-revenue, .info-adult {
                text-align: center;
                color: #000;
            }
        }
    }
}

/* End of Modal Styles */
