h1 {
    text-align: center;
}

.mat-cell, .mat-header-cell {
    font-size: 10px !important;
}

.results-table {

    margin-left: 10px;
    width: 1250px;

    td {
        padding-right: 20px;
    }

    th {
        padding-right: 20px;
    }

    
}