<!-- <aside> -->
    <!--Start of sidebar-->
    <div class="title">
        <a routerLink="home"><h1>TNR {{ mode }}</h1></a>
    </div>
    <button mat-raised-button color="accent" class="mode-toggle-button" (click)="toggleMode()">Switch to {{ mode === 'Movies' && 'CRM' || 'Movies' }} Data</button>
    <div class="hot-links">
        <h2 class="section-name">Hot Links</h2> <!--Hot Links section-->
        <mat-toolbar class="pad">
            <mat-toolbar-row [matMenuTriggerFor]="linkMenu">
                Top Ten <i class="material-icons">
                        keyboard_arrow_down
                        </i>
                <mat-menu #linkMenu="matMenu">
                    <button mat-menu-item (click)="topTen('popularity')">Popularity</button>
                    <button mat-menu-item (click)="topTen('revenue')">Revenue</button>
                    <button mat-menu-item (click)="topTen('budget')">Budget</button>
                    <button mat-menu-item (click)="topTen('runtime')">Runtime</button>
                </mat-menu>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <form>
                    By Year
                    <input type="number" name="byYear" id="byYear" class="i-width"><button class="year-btn" (click)="byYearSearch()">ok</button>
                </form>
            </mat-toolbar-row>
            <mat-toolbar-row [matMenuTriggerFor]="voteMenu">
                Top Ten Voted <i class="material-icons">
                        keyboard_arrow_down
                        </i>
                <mat-menu #voteMenu="matMenu">
                        <button mat-menu-item (click)="topTen('vote_count')">Voted Count</button>
                        <button mat-menu-item (click)="topTen('vote_average')">Voted Average</button>
                </mat-menu>
            </mat-toolbar-row>
            
        </mat-toolbar>
    </div>
    <!--End of HL-->
    <h2 class="section-name">Recent Searches</h2> <!--Start of Recent Searches-->
    <mat-toolbar>
        <mat-toolbar-row *ngFor="let recent of sizedRecentArray">
            <a (click)="searchMovie(recent.search, recent.endpoint)" >{{recent.view | titlecase}}</a>
        </mat-toolbar-row>
    </mat-toolbar> 
    <!--End of RS-->
    <!--End of sidebar-->
<!-- </aside> -->
