aside {
    height: 100%;
    width: 250px;
    min-height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    box-shadow: 2px 0px 20px var(--shadow-color);
}

main {
    background-color: var(--background-color);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin-left: 250px;
    
}

.bottom-part {
    display: flex;
}
.routed-item{
    margin-top: 80px;
}
