<div class="run-top-row ">
  <nouislider class="year-slider" [config]="sliderConfig" [limit]="2017" [tooltips]="[true, true]" [(ngModel)]="yearValue"></nouislider>
  <button class="go-button" (click)="submitYears()">Go!</button>
</div>
<div *ngIf="data && data.length > 0">
  <ngx-charts-bubble-chart
    [results]= "data"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xScaleMin]= "startYear">
  </ngx-charts-bubble-chart>
</div>

<!-- [xScaleMin]= "startYear" -->
<!-- [yScaleMin]= 1900 -->
<!-- [maxRadius]= 20 -->
<!-- <div *ngIf="barData">
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="barData"
  >
  </ngx-charts-bar-vertical>
</div> -->
<!-- 
[showYAxisLabel]="showYAxisLabel"
[yAxisLabel]="yAxisLabel" -->
<!-- [showXAxisLabel]="showXAxisLabel"
[xAxisLabel]="xAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[yAxisLabel]="yAxisLabel"
[xScaleMin]= 1900> -->