<!-- <div *ngIf="data">
  <ngx-charts-bubble-chart
    [results]= "data"
  >

  </ngx-charts-bubble-chart>
</div> -->

<!-- [yScaleMin]= 1900 -->
<!-- [maxRadius]= 20 -->
<!-- <div *ngIf="barData">
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="barData"
  >
  </ngx-charts-bar-vertical>
</div> -->
<!-- 
[showYAxisLabel]="showYAxisLabel"
[yAxisLabel]="yAxisLabel" -->
<!-- [showXAxisLabel]="showXAxisLabel"
[xAxisLabel]="xAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[yAxisLabel]="yAxisLabel"
[xScaleMin]= 1900> -->