.container{
    width: 100%;
    // border: 1px dashed red;
}
.slider{
    width: 100%;
    // border: 1px dashed blue;
}
.year-slider{
    margin: 0px 30px;
}
.pie-chart-container{
    // border: 1px dashed salmon;
    height: 500px;
    margin-top: 20px;
}